# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
ColumnLimit: 230
ContinuationIndentWidth: 2
FixNamespaceComments: false
IndentWidth: 2
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: true
SpacesBeforeTrailingComments: 1
SpacesInAngles: true
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 2
UseTab: Never
...
