# Prerequisites
*.d

# VS artifact files
.vs/
Debug/
Alpha/
Beta/
Live/
Legacy Debug/
Legacy Alpha/
Legacy Beta/
Legacy Live/
Bins/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Debugging  symbols
*.map

# Executables
*.exe
*.out
*.app
*.idb
